<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h5 class="employee">Employees</h5>
        </div>
    </div>
    <br>
 
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="table">
                    <tr class=tablerow>
                        <th class="thead"> </th>
                        <th class="thead">      </th>
                        <th class="thead">Payroll PieID</th>
                        <th class="thead">Employee No</th>
                        <th class="thead">Last Name</th>
                        <th class="thead">First Name</th>
                        <th class="thead">Deparment</th>
                        <th class="thead">Cost Center</th>
                        <th class="thead">Date Hired</th>
                        <th class="thead">Employment Status</th>
                        <th class="thead">Status</th>                     
                    </tr>
                </div>
            </div>
        </div>
    </div>







</div>