.table {
  background-color:olivedrab;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color:white;
  
}

.thead{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width:5%;
}

.tablerow:nth-child(even) {
    
    background-color: #dddddd;
  }

  /* .table, thead {
    border: 1px solid black;
    border-collapse: collapse;
  } */
  .philhealth{
      text-align: center;
      background-color: lightgray;
      font-size: 20px;
  }