<div class="container-fluid">
    <div class="bandtxt">
        <p>COMPANY PROFILE
        <p>
    </div>
    <br>
    <div class="container ">
        <div class="row">
            <div class="col-lg-12">
                <p class="formheading">Company Profile</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label>Company Logo</label>
            </div>
            <div class="col-lg-6">
                <img src="logo.png" alt="logo image">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>Company Name*</label>
            </div>
            <div class="col-lg-6">
                <input placeholder="company Name">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>Nature of Bussiness</label>
            </div>
            <div class="col-lg-6">
                <input placeholder="Nature of Bussiness">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>Address1</label>
            </div>
            <div class="col-lg-6">
                <input placeholder="Address1">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>Address2</label>
            </div>
            <div class="col-lg-6">
                <input placeholder="Address2">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>Zip Code</label>
            </div>
            <div class="col-lg-6">
                <input placeholder="Zip Code">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>RDO</label>
            </div>
            <div class="col-lg-6">
                <input placeholder="RDO">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>Email</label>
            </div>
            <div class="col-lg-6">
                <input placeholder="Email">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>Phone</label>
            </div>
            <div class="col-lg-6">
                <input placeholder="Phone">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>Fax</label>
            </div>
            <div class="col-lg-6">
                <input placeholder="Fax">
            </div>
        </div>



        <div class="row">
            <div class="col-lg-6">
                <label>TIN</label>
            </div>
            <div class="col-lg-6">
                <input placeholder="TIN">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>SSS No.</label>
            </div>
            <div class="col-lg-6">
                <input placeholder="SSS No.">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>PhilHealth No.</label>
            </div>
            <div class="col-lg-6">
                <input placeholder="PhilHealth No.">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>HDMF No.</label>
            </div>
            <div class="col-lg-6">
                <input placeholder="HDMF No.">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>Admin Signatory</label><br>
                <label>*For Payroll Summary and Employer Contribution</label>
            </div>
            <div class="col-lg-6">
                <label>Authorized Person:</label>
                <input><br>
                <label>Position Title:</label>
                <input>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>HR Signatory</label><br>

            </div>
            <div class="col-lg-6">
                <label>Authorized Person:</label>
                <input><br>
                <label>Position Title:</label>
                <input>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>Finance Signatory</label><br>
            </div>
            <div class="col-lg-6">
                <label>Authorized Person:</label>
                <input><br>
                <label>Position Title:</label>
                <input>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>E-Signatory</label>
            </div>
            <div class="col-lg-6">
                <input placeholder="Choose file">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <p class="formheading">Work Policy</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>Work Days Per Year*</label>
            </div>
            <div class="col-lg-6">
                <select>
                    <option>261</option>
                    <option>260</option>
                    <option>259</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label>Work Hours Per Day</label>
            </div>
            <div class="col-lg-6">
                <input placeholder="8">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label>Work Months Per Year*</label>
            </div>
            <div class="col-lg-6">
                <select>
                    <option>12</option>
                    <option>11</option>
                    <option>10</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label>Work Hours Start</label>
            </div>
            <div class="col-lg-6">
                <input placeholder="10.00 PM">
                <img src="clock.png">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label>Work Hours End</label>
            </div>
            <div class="col-lg-6">
                <input placeholder="6.00 AM">
                <img src="clock.png">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label>Break Hours</label>
            </div>
            <div class="col-lg-6">
                <input placeholder=" ">
                <img src="clock.png">
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <p class="formheading">PAYROLL COMPUTATION</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label>Periods Per Month*</label>
            </div>
            <div class="col-lg-6">
                <select>
                    <option>1(Semi-Monthly)</option>
                    <option>2(Semi-Monthly)</option>
                    <option>3(Semi-Monthly)</option>
                </select>
                <img src="Qsnmarck.png">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label>Statutory Period Schedule</label>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Regular(1-15 and 16-30)
                            </label>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Irregular(Any other Schedule)
                            </label>
                        </div>
                    </div>
                    <img src="Qsnmarck.png">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label>Absent Deduction</label>
            </div>
            <div class="col-lg-6">
                <div class="row form-check">
                    <div class="col-lg-12 ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Basic Salary</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Deminimis</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Allowance</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Reimbrusable Allowance</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ECOLA</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Bonus</label>
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-lg-6">
                <label>Late Deduction</label>
            </div>
            <div class="col-lg-6">
                <div class="row form-check">
                    <div class="col-lg-12 ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Basic Salary</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Deminimis</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Allowance</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Reimbrusable Allowance</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ECOLA</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Bonus</label>
                    </div>
                </div>
            </div>
        </div> 

        <div class="row">
            <div class="col-lg-6"> </div>
            <div class="col-lg-6">
                <div class="row form-check">
                    <p>Optional:</p>
                    <div class="col-lg-6 ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Basic</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Deminimis</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Allowance</label>
                    </div>
                    <div class="col-lg-6 ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Reimbrusable Allowance</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ECOLA</label>
                    </div>

                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-lg-6">
                <label>Over Time Computation</label>
            </div>
            <div class="col-lg-6">
                <div class="row form-check">
                    <div class="col-lg-12 ">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Basic Salary</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Deminimis</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Allowance</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Reimbrusable Allowance</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">ECOLA</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Bonus</label>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>