<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 department">
            Departments
        </div>
    </div> <br>
    <div class="container">
        <div class="row ">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="table">
                    <tr class=tablerow>
                        <th class="thead"> </th>
                        <th class="thead">Name</th>
                        <th class="thead">Code</th>
                        <th class="thead">Remarks</th>
                        <th class="thead"> </th>
                        <th class="thead"> </th>
                    </tr>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
   
    <div class="row">  
        <div class="col-lg-6">
            <p class="para">Upload Departments</p>
        </div>
        <div class="col-lg-6">
            <p class="para1">Export to Excel</p>
        </div>
    </div>


</div>



