<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <p class="OTRates">OT Rates</p>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="table">
                <tr class=tablerow>
                    <th class="thead"> </th>
                    <th class="thead"></th>
                    <th class="thead"></th>
                    <th class="thead">OT</th>
                    <th class="thead">ND</th>
                    <th class="thead">NDOT</th>
                </tr>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>