<br>
<div class="Container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h5 class="company">COMPANY ADJUSTMENTS</h5>
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="table">
                    <tr class=tablerow>
                        <th class="thead"> </th>
                        <th class="thead">Type</th>
                        <th class="thead">Name</th>
                        <th class="thead">Code</th>
                        <th class="thead">Amount</th>
                        <th class="thead">Remarks</th>
                        <th class="thead">Before Tax</th>
                        <th class="thead">Taxable</th>
                        <th class="thead">Max Accumulated</th>
                        <th class="thead">  </th>
                    </tr>
                </div>
                <div class="col-lg-12 export">EXPORT ADJUSTMENT</div>
            </div>
        </div>
    </div>

