<br/>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-1">
            <h5>Payroll Runs</h5>
        </div>
        <div class="col-lg-1">
            <h5>Reports</h5>
        </div>
        <div class="col-lg-1">
          
           
           
                 
                  <hr>
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        SETUP
                      </button>
                      <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                         
                         
                          <li class="dropdown-item"><a href="#"></a></li>
                          <li class="dropdown-divider"></li>
                          <li class="dropdown-submenu">
                            <a  class="dropdown-item" tabindex="-1" href="#">Company</a>
                            <ul class="dropdown-menu">
                              <li class="dropdown-item"><a tabindex="-1" href="#">Profile</a></li>
                              <!-- <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">Even More..</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a href="#">3rd level</a></li>
                                      <li class="dropdown-submenu"><a class="dropdown-item" href="#">another level</a>
                                      <ul class="dropdown-menu">
                                          <li class="dropdown-item"><a href="#">4th level</a></li>
                                          <li class="dropdown-item"><a href="#">4th level</a></li>
                                          <li class="dropdown-item"><a href="#">4th level</a></li>
                                      </ul>
                                    </li>
                                      <li class="dropdown-item"><a href="#">3rd level</a></li>
                                </ul>
                              </li> -->
                              <li class="dropdown-item"><a href="#">Cost Centres</a></li>
                              <li class="dropdown-item"><a href="#">General Ledger</a></li>
                              <li class="dropdown-item"><a href="#">Departments</a></li>
                              <li class="dropdown-item"><a href="#">Banks</a></li>
                              <li class="dropdown-item"><a href="#">Pay Group</a></li>
                            </ul>
                          </li>
                          <li class="dropdown-item"><a href="#">Payroll</a></li>
                          <li class="dropdown-item"><a href="#">References</a></li>
                        </ul>
                  </div>
            
          
    </div>
        <div class="col-lg-1">
            <h5>Employees</h5>
        </div>
        <div class="col-lg-1">
            <h5>Users</h5>
            
        </div>
    </div>
</div>
