<br />

<div class="container-fluid shadow">
  <div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6"></div>
  </div>
 
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-1">
            <h5 routerLink='/Payroll'>Payroll Runs</h5>
        </div>
        <div class="col-lg-1">
            <h5 routerLink='/Reports'>Reports</h5>
        </div>
        <div class="col-lg-1">
          
           
           
                 
                  <hr>
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        SETUP
                      </button>
                      <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                         
                         
                          <li class="dropdown-item"><a href="#"></a></li>
                          <li class="dropdown-divider"></li>
                          <li class="dropdown-submenu">
                            <a  class="dropdown-item" tabindex="-1" href="#">Company</a>
                            <ul class="dropdown-menu">
                              <li class="dropdown-item"><a tabindex="-1" routerLink='/CompanyProfile'>Profile</a></li>
                              <!-- <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">Even More..</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a href="#">3rd level</a></li>
                                      <li class="dropdown-submenu"><a class="dropdown-item" href="#">another level</a>
                                      <ul class="dropdown-menu">
                                          <li class="dropdown-item"><a href="#">4th level</a></li>
                                          <li class="dropdown-item"><a href="#">4th level</a></li>
                                          <li class="dropdown-item"><a href="#">4th level</a></li>
                                      </ul>
                                    </li>
                                      <li class="dropdown-item"><a href="#">3rd level</a></li>
                                </ul>
                              </li> -->
              <li class="dropdown-item"><a routerLink='/Costcenter'>Cost Centres</a></li>
              <li class="dropdown-item"><a routerLink='/GeneralLedger'>General Ledger</a></li>
              <li class="dropdown-item"><a routerLink='/Departments'>Departments</a></li>
              <li class="dropdown-item"><a routerLink='/Reports'>Banks</a></li>
              <li class="dropdown-item"><a routerLink='/PayGroup'>Pay Group</a></li>
            </ul>
          </li>
          <li class="dropdown-item"><a routerLink='/Payroll'>Payroll</a></li>
          <li class="dropdown-item"><a routerLink='/Reports'>References</a></li>
        </ul>
      </div>


    </div>
    <div class="col-lg-1">
      <h5 routerLink='/Reports'>Employees</h5>
    </div>
    <div class="col-lg-1">
      <h5>Users</h5>
    </div>
    <div class="col-lg-1">
      <h5 routerLink='/Reports'>Help</h5>
    </div>
  </div>
</div>