<br>
<div class="Container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h5 class="sss">SSS</h5>
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="table">
                    <tr class=tablerow>
                        <th class="thead">Min Range</th>
                        <th class="thead">Max Range</th>
                        <th class="thead">Monthly Salary Credit</th> 
                        <th class="thead">SS-ER</th>
                        <th class="thead">SS-EE</th>
                        <th class="thead">SS-Total</th> 
                        <th class="thead">MPF-ER</th>
                        <th class="thead">MPF-EE</th>
                        <th class="thead">EC-ER</th>
                        <th class="thead">Total Contibution</th>                       
                    </tr>
                </div>
            </div>
        </div>
    </div>
</div>
