<div class="container-fluid">
    <label class="general">General Ledger </label>
    <div class="row">
        <div class="col-lg-12">
            <div class="table">
                <tr class=tablerow>
                    <th class="thead"> </th>
                    <th class="thead">      </th>
                    <th class="thead">Sequence Number</th>
                    <th class="thead">GL Name</th>
                    <th class="thead">Normal Balance</th>
                    <th class="thead">Negative Balance</th>
                    <th class="thead">Account Summary</th>
                    <th class="thead">Adjustments</th>
                    <th class="thead">Remarks</th>
                    <th class="thead"> </th>
                    <th class="thead"> </th>  
                    <label>No Records Yet</label>                   
                </tr>               
                <label class="ledger">
                    EXPORT GENERAL LEDGER
                </label>
            </div>
        </div>
    </div>
</div>
