<br>
<div class="Container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h5 class="payroll">PAYROLL</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-2">
            <p class="Year">Select Year</p>
        </div>
        <div class="col-lg-4">
        </div>
    </div>

    <div class="container">
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="table">
                    <tr class=tablerow>
                        <th class="thead"> </th>
                        <th class="thead">Year</th>
                        <th class="thead">Month</th>
                        <th class="thead">Period</th>
                        <th class="thead">Payroll Run type</th>
                        <th class="thead">Pay Group</th>
                        <th class="thead">Description</th>
                        <th class="thead">Transaction Date</th>
                        <th class="thead">Action</th>
                        <th class="thead">Status</th>
                    </tr>
                </div>
            </div>
        </div>
    </div>










</div>