.OTRates{
    background-color: lightgrey;
    text-align: center;
    font-style: bold;
}
.table {
    background-color:olivedrab;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  color:white;
  text-align: right;
 
  
}

.thead{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tablerow:nth-child(even) {
    
    background-color: #dddddd;
  }

  .table, thead {
    border: 1px solid black;
    border-collapse: collapse;
  }