.search-row{
    background-color: lightslategray;
}

.SearchBar{
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  border-radius: 30px;
  padding-left: 20px;
  margin-left: 100px;
  outline: none;
  margin-top: 75px;
  margin-bottom: 75px;
}

.blocks-list {
    margin: 0 -15px;
}

.blocks-item-link {
    color: rgba(110, 157, 66, 1);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    border-radius: inherit;
}

.blocks-item {
    border: 1px solid rgba(110, 157, 66, 1);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(110, 157, 66, 1);
    display: flex;
    flex: 1 0 340px;
    margin: 0 0 30px;
    max-width: 100%;
    text-align: center;
}


