<div class="Container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <p class="user">USERS</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row ">
        <div class="col-lg-12 ">
            <div class="table">
                <tr class=tablerow>
                    <th class="thead"> </th>
                    <th class="thead">User Name</th>
                    <th class="thead">Email</th>
                    <th class="thead">Role</th>
                    <th class="thead">Date Added </th>
                    <th class="thead">Is Active?</th>
                    <th class="thead">Is Total Only?</th>
                    <th class="thead">Is Locked</th>
                    <th class="thead"></th>
                    <th class="thead"></th>
                </tr>
            </div>
        </div>
    </div>
</div>